$primary: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$lightgray: hsl(217, 12%, 63%);
$mediumgray: hsl(216, 12%, 54%);
$darkblue: hsl(213, 19%, 18%);
$darkbluestar: rgb(48, 54, 61);
$verydarkblue: hsl(216, 12%, 8%);
$font-family: "Overpass", sans-serif;
$font-size-p: 15px;
$font-weights: (
    "regular": 400,
    "bold": 700
)