@import './_resets', './_variables';

body {
    background-color: $verydarkblue;
    font-family: $font-family;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    flex-grow: 1;

    .rating-card,
    .thank-card {
        background-color: $darkblue;
        padding: 25px;
        border-radius: 15px;
    }

    .rating-card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 380px;
        height: 360px;
        transition: all .3s ease;
        opacity: 1;
        z-index: 3;

        img {
            height: 35px;
            width: 35px;
            background-color: $borderbackground;
            border-radius: 30px;
            padding: 12px;
        }

        section {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        h2 {
            margin-top: 15px;
        }

        p {
            color: $lightgray;
            margin: 0;
            font-size: $font-size-p;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 0;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $lightgray;
                background-color: $borderbackground;
                height: 50px;
                width: 55px;
                border-radius: 100%;
                padding-top: 3px;
                font-size: $font-size-p;
            }

            li:hover {
                background-color: $lightgray;
                color: $white;
                cursor: pointer;
            }

            .clicked {
                background-color: $primary;
                color: $white;
                cursor: pointer;
            }
        }

        #submit-rating {
            background-color: $primary;
            color: $white;
            border: none;
            padding: 12px;
            font-weight: map-get($font-weights, bold);
            border-radius: 20px;
            font-size: 15px;
            letter-spacing: 1px;
        }

        #submit-rating:hover {
            background-color: $white;
            color: $primary;
            cursor: pointer;
        }

    }

    .thank-card {
        padding-top: 35px;
        position: absolute;
        width: 390px;
        height: 380px;
        transition: all .3s ease;
        opacity: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        .selected-rating {
            color: $primary;
            background-color: $borderbackground;
            padding: 5px;
            width: 190px;
            border-radius: 15px;
        }

        .thank-message {
            color: $lightgray;
            font-size: $font-size-p;
            line-height: 1.5;
            cursor: default;
        }
    }

    .visible {
        opacity: 1;
    }

    .hidden {
        opacity: 0;
        z-index: 1;
    }
}

footer {
    text-align: center;
    color: $white;

    a {
        color: $primary;
    }
}
